<div class="generic-container" ng-controller="UserController as ctrl">
<!-- <div ng-show='ctrl.user.errorMessage!=""'>
<div class="alert alert-danger fade in">Error:
{{ctrl.user.errorMessage}}</div>
</div>
 -->
<div class="panel panel-default">
<div class="panel heading">
<span class="lead">User Registration Form</span>
</div>
<div class="formcontainer">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
<label>Register As...</label>
<div class="container">
<div class="radio">
<label class="radio-inline">
<input type="radio" name="role" value="student" ng-model="ctrl.user.role">Student
</label>
<label class="radio-inline">
<input type="radio" name="role" value="alumni" ng-model="ctrl.user.role">Alumni
</label>
<label class="radio-inline">
<input type="radio" name="role" value="employee" ng-model="ctrl.user.role">Employee
</label>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="username">Name</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.user.username" id="name"
class="form-control input-sm" placeholder="Enter your Name">
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="email">Email</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.user.email" id="email"
class="form-control input-sm" placeholder="Enter your Email">
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="contact">Contact</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.user.contact" id="contact"
class="form-control input-sm" placeholder="Enter your Contact No.">
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="password">Password</label>
<div class="col-md-7">
<input type="password" width="100" height="50" ng-model="ctrl.user.password" id="password"
class="form-control input-sm" placeholder="Enter your Password">
</div>
</div>
</div>

<div class="row">
<div class="form-actions floatRight">
<input type="submit" value="Register" class="btn btn-primary btn-sm">
<button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset Form</button>
</div>
</div>
</form>
</div>
</div>
</div>
